<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}{% endblock title %} | Tickety</title>
  </head>
  <body>
    <nav
      class="py-8 px-6 md:flex md:justify-between md:text-white uppercase md:bg-violet-950 items-center border-b border-gray-200"
    >
      <div class="flex items-center justify-between">
        <div class="">
          <a
            href='{% url "core:index" %}'
            class="text-2xl md:text-white font-bold"
            >Tickety</a
          >
        </div>
        <div class="md:hidden">
          <button
            onclick="toggleMenu()"
            id="menu-toggle"
            class="block text-gray-500 hover:text-gray-600 focus:outline-none focus:text-gray-600"
          >
            <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M4 6h16a1 1 0 010 2H4a1 1 0 010-2zm16 5H4a1 1 0 110-2h16a1 1 0 110 2zm0 4H4a1 1 0 110-2h16a1 1 0 110 2z"
              ></path>
            </svg>
          </button>
        </div>
      </div>
      <div
        id="menu-responsive"
        class="md:space-x-16 hidden md:flex space-y-10 md:space-y-0"
      >
        {% if request.user.is_authenticated %}

        <div>
          <a
            href='{% url "core:logout" %}'
            class="px-6 py-3 text-lg font-semibold md:text-white rounded-xl"
            >Log out</a
          >
        </div>
        {% else %}
        <div>
          <a
            href='{% url "core:signup" %}'
            class="md:px-6 py-3 text-lg font-semibold md:text-white rounded-xl"
            >Sign Up</a
          >
        </div>
        <div>
          <a
            href='{% url "core:login" %}'
            class="md:px-6 py-3 text-lg font-semibold md:text-white rounded-xl"
            >Log In</a
          >
        </div>

        {% endif %}
        <div>
          <a
            href='{% url "core:contact" %}'
            class="md:px-6 py-3 text-lg font-semibold md:text-white rounded-xl"
            >Contact</a
          >
        </div>
        <div>
          <a
            href='{% url "dashboard:index" %}'
            class="md:px-6 py-3 text-lg font-semibold md:text-white rounded-xl"
            >Dashboard</a
          >
        </div>
        <div>
          <a
            href='{% url "item:items" %}'
            class="text-lg font-semibold md:border border-white md:p-2 hover:bg-white hover:text-violet-950 rounded-lg"
            >More Events</a
          >
        </div>
      </div>
    </nav>
    <div class="px-6 py-6">{% block content %}{% endblock content %}</div>
    <footer class="py-6 px-6 flex justify-between bg-gray-800">
      <div class="w-2/3 pr-10">
        <h3 class="mb-5 font-semibold text-gray-400">Tickety</h3>
        <p class="text-lg text-gray-500">
          Here is a small description about e-commerce
        </p>
      </div>
      <div class="w-1/3">
        <h3 class="mb-5 font-semibold text-gray-400">Quick Links</h3>
        <ul class="space-y-2">
          <li>
            <a
              href='{% url "core:about_us" %}'
              class="text-lg text-teal-500 hover:text-teal-700"
              >About</a
            >
          </li>
          <li>
            <a
              href='{% url "core:contact" %}'
              class="text-lg text-teal-500 hover:text-teal-700"
              >Contact</a
            >
          </li>
          <li>
            <a href="" class="text-lg text-teal-500 hover:text-teal-700"
              >Privacy Policy</a
            >
          </li>
          <li>
            <a href="" class="text-lg text-teal-500 hover:text-teal-700"
              >Terms of Use</a
            >
          </li>
        </ul>
      </div>
    </footer>

    <script>
      function toggleMenu() {
        var menu = document.getElementById("menu-responsive");
        if (menu.style.display === "none" || menu.style.display === "") {
          menu.style.display = "block";
        } else {
          menu.style.display = "none";
        }
      }
    </script>
    {% block js %}{% endblock js %}
  </body>
</html>
