{% extends "core/base.html" %} {% block title %}Welcome{% endblock title %}
{%block content %}

<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
  <h2 class="mb-12 text-2xl font-bold">Newest items you might like</h2>
  <div class="grid md:grid-cols-4 gap-3">
    {% for item in items %}
    <div class="mb-2">
      <a href='{% url "item:detail" item.id %}'>
        <div class="">
          <img
            src="{{ item.image.url }}"
            alt="item image"
            class="rounded-t-xl md:h-36 mx-auto w-full"
          />
        </div>
        <div class="p-6 bg-white rounded-b-xl">
          <div class="flex justify-between items-center">
            <div><h2 class="text-xl">{{item.title}}</h2></div>
            <div><p class="text-gray-500">Ksh. {{item.price}}0</p></div>
          </div>
          <div>
            <button
              class="p-2 mt-2 rounded-xl border-2 hover:bg-teal-500 font-semibold border-black-500"
            >
              Add to Cart
            </button>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
  <h2 class="mb-12 text-2xl font-bold">Browse Categories</h2>
  <div class="grid grid-cols-4 gap-3">
    {% for category in categories %}
    <div class="mb-2">
      <a href="#">
        <div class="p-6 bg-white rounded-b-xl">
          <h2 class="text-2xl">{{category.name}}</h2>
          <p class="text-gray-500">{{category.items.count}} item(s)</p>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
